.container {
    display: flex;
    align-items: center;
}

.container p {
    margin-left: 1em;
}

body {
    background-image: url("https://hips.hearstapps.com/autoweek/assets/s3fs-public/Cruz.gif?crop=1xw:0.8875739644970414xh;center,top&resize=640:*");
}

img {
    max-width: 500px;
}

a {
    color: purple;
}

#nav {
    background-image: url("https://media.tenor.com/lu8NjOZLXHkAAAAM/police-car-scary.gif");
}

p {
    color:brown;
    font-size: 20px;
    background-color: black;
}

button {
    font-size: 120px;
}